@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5EF;
}

.container {
  margin-left: 7%;
  margin-right: 7%;
}